{% extends "players/base.html" %}

<div class="container listy">
{% block content %}
<!-- END -->
<!-- Javascript Carusel -->

<div class="text-center">
<img class="rounded img-fluid" src="https://cdn.nba.com/manage/2022/07/chris-paul-pass.jpg" alt="">
</div>
<!-- <img src= "https://cdn.nba.com/manage/2022/07/simons-nurkic-lillard-talk.jpg" alt="">
<img src="https://cdn.nba.com/manage/2022/05/jrue-holiday-block-game-5-iso.jpg" alt=""> -->




<!-- Enter to win ticket FE -->
<!-- Ajax ticket hidden number to backend -->



<!-- Email ticket number -->
<!-- (Third Party DB) Java script runs reads script and 
    selects a winner, Java emails the winner, Marks remote DB that winner selected. and Winner emailed END -->

<!-- ############################################################################################# -->
<!-- HEAT CHAMPIONSHIP BANNER -->
<h1>SHOWCASE Of The MONTH</h1>



<button><a href="{% url 'players:p_list'%}"">2013 Miami Heat</a></button>
        <!-- APP INSERTION POINT 2013 MIAMI HEAT LISTVIEW -->

<!-- ############################################################################################# -->

<!-- Scroll area--> 
<!-- https://www.stubhub.com/nba-tickets/ -->




<!-- Sidebar -->
<!-- Nike LEBRON SOUTH BEACH DB with Cookies:TBD -->
<!-- Wear Testers Review Youtube -->
<!-- Buy Now node react app -->



{% endblock %}
</div>


